<html>

  <head></head>
  <style></style>
  <body>
    <h1>Log in to your Chitter account</h1>
    <form method="POST" action="/log_in">
    <input type="text" name="username" placeholder="username" oninvalid="alert('username cannot be empty')">
    <input type="password" name="password" placeholder="password" oninvalid="alert('password cannot be empty')">
    <input type="Submit" name="Log in">
  </body>

</html>