<html>

  <head></head>
  <style></style>
  <body>
    <h1>Log in to your Chitter account</h1>
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <form method="POST" action="/log_in">
    <input type="text" name="username" placeholder="username" oninvalid="alert('username cannot be empty')">
    <input type="password" name="password" placeholder="password" oninvalid="alert('password cannot be empty')">
    <input type="Submit" name="Log in" onClick="return checkInfo()">
    </form>
    <form action="/" method="GET">
      <input type="submit" value="Back to homepage." />
    </form>
  </body>

</html>