<html>
  <head></head>
  <style></style>
  <body>
    <h1>Username/Password combination not found</h1>
    <form action="/log_in" method="GET">
      <input type="submit" value="Back to log in page." />
    </form>
  </body>
</html>