<h1>Welcome to Chitter</h1>

<h2>Post to Chitter:</h2>
<form method="POST" action="/new_peep">
<input type="text" content="content" placeholder="Tell us what is on your mind">
<input type="submit" name="Post to Chitter">

<h2>See what people are talking about:</h2>
2023-05-04 Mike<br>
Mike's peep<br>
2023-05-05 Ruby<br>
Ruby's peep