<html>
  <head></head>

  <style>
    span {
      line-height: 1.5;
    }

    .simpleborder {
      border-color: black;
      border-style: dotted;
      border-width: 1px;
      margin: 5px;
      padding: 2px;
      display: inline-block;
    }
  </style>

  <body>
    <h1>Welcome to Chitter</h1>

    <% if @user.username != 'anon' %>
      <h2>Logged in as: <%= @user.name %></h2>
    <% end %>

    <form action="/sign_up" method="GET">
      <input type="submit" value="Sign up" />
    </form>
    <% if @user.name == 'Anonymous' %>
      <form action="/log_in" method="GET">
        <input type="submit" value="Log in" />
      </form>
    <% else %>
      <form action="/log_out" method="POST">
        <input type="submit" value="Log out" />
      </form>
    <% end %>

    <h2>Post to Chitter:</h2>
    <!-- TODO: Implement tagging in posts -->
    <!-- <h3>Use @username to tag another user in your post</h3> -->
    <form method="POST" action="/new_peep">
      <input type="text" name="content" placeholder="What is on your mind?"
        oninvalid="alert('You must write something to post it')" required>
      <input type="submit" name="Post to Chitter">
    </form>

    <h2>See what people are talking about:</h2>
      <input type="button" value="Refresh peeps" onClick="window.location.reload()"><br>
      <%= @peeps %>
  </body>

</html>