<html>
  <head></head>
  <style></style>
  <body>
    <h1>Welcome to the Chitter gang, <%= @account.name %>!</h1>
    <form action="/" method="GET">
      <input type="submit" value="Back to homepage." />
    </form>
  </body>

</html>