<html>
  <head></head>
  <style></style>
  <body>
    <h1>Username or email is already in use</h1>
    <form action="/sign_up" method="GET">
      <input type="submit" value="Back to sign up page." />
    </form>
  </body>
</html>