<html>
  <head></head>
  <style></style>
  <body>
    <h1>Sign up for a Chitter account</h1>
    <form method="POST" action="/new_user">
    <input required type="text" name="name" placeholder="Your name" oninvalid="alert('Name cannot be empty')">
    <input required type="text" name="email" placeholder="Your email" oninvalid="alert('Email cannot be empty')">
    <input required type="text" name="username" placeholder="Your username" oninvalid="alert('Username cannot be empty')">
    <input required type="password" name="password" placeholder="Your password" oninvalid="alert('Password cannot be empty')">
    <input type="submit" name="Register">
    </form>
    <form action="/" method="GET">
      <input type="submit" value="Back to homepage." />
    </form>
  </body>

</html>